 .textcomponent{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 20px;

width: 491px;
height: 281px;

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}

.textcomponent-Wrapper{
    display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;
gap: 50px;

width: 491px;
height: 383px;

flex: none;
order: 0;
flex-grow: 0;
}

.heading{
    width: 491px;
height: 174px;

font-family: 'Product Sans';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 52px;

color: #1F1F1F;


flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}

.heading-text{
    width: 491px;
height: 87px;
position:absolute;
font-family: 'Product Sans';
font-style: normal;
font-weight: 400;
font-size: 23px;
line-height: 29px;
top: 390px;
color: #4D4D4D;


flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
}

.btn{
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 15px 30px;
gap: 10px;

width: 215px;
height: 52px;

background: linear-gradient(92.67deg, #F01928 0.91%, #F97310 104.34%);
border-radius: 36px;


flex: none;
order: 1;
flex-grow: 0;
}
.btntext{
    width: 214px;
    height: 53px;
    position: absolute;
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    top: 550px;
    
    
    flex: none;
    order: 0;
    flex-grow: 0;   
}