.background-image{
    width: 700px;
height: 500px;

background:  url("../../Images/bgImage.svg") ;
flex: none;
order: 1;
flex-grow: 0;
}
.text_image-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
     padding-left: 60px;
     padding-top: 70px;
     padding-right: 30px;
    gap: 5px;
    
    width: 1215px;
    height: 554px;
    
    
    flex: none;
    order: 0;
    flex-grow: 0;
}
.component-wrapper{
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px 150px 60px;
gap: 10px;

position: absolute;
width: 1250px;
height: 614px;
left: 0px;
top: 120px;

background: white;
}

.card-wrapper{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 75px 150px;
gap: 10px;

position: absolute;
width: 1250px;
height: 990px;
left: 0px;
top: 795px;

background: lightgrey;
}

.card-component-wrapper{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 12px;
    
    width: 1211px;
    height: 942px;
    
    flex: none;
    order: 0;
    flex-grow: 0;

}
.column-wrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 12px;
    
    width: 400px;
    height: 942px;
    
    flex: none;
    order: 0;
    flex-grow: 0;
}
.middle-column{
    width: 387px;
    height: 942px;
    
    background: #FFFFFF;
    border-radius: 16px;
    
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0
}


.middle-column-image{
position: absolute;
width: 160px;
height: 160px;
left: 665px;
top: 350px;
border-radius: 200px;
}

.middle-column-text{
    position: absolute;
    width: 199px;
    height: 132px;
    left: 646px;
    top: 515px;
    
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    
    color: #1F1F1F;
    
}
.component3-wrapper{

    display: flex;
flex-direction: column;
justify-content: flex-end;
align-items: center;
padding: 75px 150px;
gap: 100px;

position: absolute;
width: 1250px;
height: 700px;
left: 0px;
top: 1935px;

background: whitesmoke;
}
.inner-component3-wrapper{
    display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 60px;

 width: 1212px; 

height: 700px;

flex: none;
order: 0;
flex-grow: 0;
}

.upper-component-frame{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 50px;

width: 1212px;
height: 250px;

flex: none;
order: 0;
flex-grow: 0
}
.componenet3-header{
    display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: flex-end;
padding: 0px;
gap: 185px;

width: 1212px;
height: 70px;

flex: none;
order: 0;
flex-grow: 0
}

.component3-inner-header-wrapper{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 15px;

width: 1212px;
height: 70px;

flex: none;
order: 0;
flex-grow: 1;
}

.header-heading{
    width: 278px;
height: 34px;
position: absolute;
top: 10px;
font-family: 'Product Sans';
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 34px;

color: #EF3A2F;

flex: none;
order: 0;
flex-grow: 0;
}

.header-content-upper{
    width: 857px;
    height: 58px;
    
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 5px;
    
    color: #2C2C2C;
    
    flex: none;
    order: 1;
    flex-grow: 0;
}

.lower-component-frame{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 80px;

width: 1212px;
height: 543px;

flex: none;
order: 1;
flex-grow: 0;
}
.pets-image{
    
box-sizing: border-box;

position: absolute;
width: 603.3px;
height: 404.67px;
left: 800.7px;
top: 250.67px;
border: 1px solid #C9C9C9;
border-radius: 15px;
}
.lower-textcomponent{
    display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;
gap: 50px;

position: absolute;
width: 491px;
height: 274px;
left: 74px;
top: 135px;

}
.upper-div-frame{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 30px;

width: 491px;
height: 172px;


flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}
.upper-div-header-frame{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 10px;

width: 491px;
height: 76px;


flex: none;
order: 0;
flex-grow: 0;
}

.upper-div-heading{
    width: 491px;
height: 44px;
position: absolute;
font-family: 'Product Sans';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 44px;
top: 180px;
left: 45px;
color: #1F1F1F;

flex: none;
order: 0;
flex-grow: 0;
}
.upper-div-subheading{
    width: 103px;
height: 22px;
position: absolute;
font-family: 'Product Sans';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 22px;
top: 230px;
left: 50px;

color: #EF3A2F;


flex: none;
order: 1;
flex-grow: 0;

}

.header-content{
    width: 491px;
height: 66px;
position: absolute;
font-family: 'Product Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;
top: 280px;
left: 50px;
color: #4D4D4D;



flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
}
.view-website{
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 15px 30px;
gap: 10px;
position: absolute;
width: 165px;
height: 52px;
top: 400px;
left: 45px;
background: linear-gradient(92.67deg, #F01928 0.91%, #F97310 104.34%);
border-radius: 36px;


flex: none;
order: 1;
flex-grow: 0;
}
.view-btn{
    width: 105px;
height: 22px;

font-family: 'Product Sans';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 22px;

color: black;

flex: none;
order: 0;
flex-grow: 0;
}
.bg-card{
    position: absolute;
width: 875px;
height: 543px;
left: 0px;
top: 0px;
z-index: -1;

background: white;
border-radius: 10px;
}
.navigation{
    display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 20px;

width: 104px;
height: 21px;



flex: none;
order: 1;
flex-grow: 0;
}
.eclipse1{
    width: 21px;
    height: 21px;
    
    background: #F97310;
    

    
    flex: none;
    order: 0;
    flex-grow: 0
}
.eclipse2{
    width: 22px;
    height: 21px;
    
    background: #D9D9D9;
    

    
    flex: none;
    order: 1;
    flex-grow: 0;
}
.eclipse3{
    width: 21px;
    height: 21px;
    
    background: #D9D9D9;
    

    
    flex: none;
    order: 2;
    flex-grow: 0;
}
.case-study{
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 15px 30px;
gap: 10px;

width: 267px;
height: 21px;

background: linear-gradient(92.67deg, #F01928 0.91%, #F97310 104.34%);
border-radius: 36px;
flex: none;
order: 1;
flex-grow: 0;
}

.case-study-text{
    width: 207px;
height: 22px;

font-family: 'Product Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;

color: #FFFFFF;

flex: none;
order: 0;
flex-grow: 0;
}
.last-component-frame{
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 75px 150px;
gap: 10px;

position: absolute;
width: 1250px;
height: 1096px;
left: 1px;
top: 2949px;

background: whitesmoke;
}

.last-inner-component-wrapper{

    display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;
gap: 50px;

width: 1212px;
height: 946px;

flex: none;
order: 0;
flex-grow: 0;
}
.inner-component-wrapper{
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 19px;

width: 1212px;
height: 946px;

flex: none;
order: 0;
flex-grow: 0
}
.column-component1{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 75px 54px;
gap: 10px;

width: 473px;
height: 946px;

background: #4D4D4D;
border-radius: 16px;

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}
.column-component1-wrapper{
    
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;


width: 365px;
height: 285px;

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}
.business-idea{
    width: 365px;
height: 220px;

font-family: 'Product Sans';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 44px;

color: #FFFFFF;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}
.text-component{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;


width: 365px;
height: 127px;
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
}

.text-line1{
    width: 462px;
    height: 0px;
    
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    
    color: #E0E0E0;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.text-line2{
    width: 462px;
    height: 0px;
    
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    
    color: #E0E0E0;    
    flex: none;
    order: 1;
    flex-grow: 0;
}
.text-line3{

    width: 462px;
    height: 0px;
    
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    
    color: #E0E0E0;    
    flex: none;
    order: 2;
    flex-grow: 0;
    
}

.image5-css{
    width: 362px;
height: 349px;
position: absolute;
top: 750px;
left: 160px;


flex: none;
order: 2;
flex-grow: 0;
}
.column-component2{
 display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 100px 51px;
gap: 10px;

width: 720px;
height: 780px;

background: #FFFFFF;
border-radius: 10px;

flex: none;
order: 1;
flex-grow: 0;
}
.column-component2-wrapper{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 37px;

width: 669px;
height: 796px;

flex: none;
order: 0;
flex-grow: 0;
}
.column-component2-header{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
    
    width: 669px;
    height: 112px;
        
    flex: none;
    order: 0;
    flex-grow: 0;   
}
.component2-header-heading{
    width: 356px;
height: 58px;
position: absolute;
top: 185px;
font-family: 'Product Sans';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 58px;

color: #333333;

flex: none;
order: 0;
flex-grow: 0;
}
.component2-header-content{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 15px;

width: 669px;
height: 34px;

flex: none;
order: 1;
flex-grow: 0;
}
.component2-header-text{
    width: 320px;
height: 34px;
position: absolute;
font-family: 'Product Sans';
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 34px;
top: 250px;
color: #EF3A2F;

flex: none;
order: 0;
flex-grow: 0;
}
.column-component2-lowercontent{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 59px;

width: 611px;
height: 647px;

flex: none;
order: 1;
flex-grow: 0;
}
.column-component2-form{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 30px;

width: 611px;
height: 451px;

flex: none;
order: 0;
flex-grow: 0;
}
.component2-checkbox{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
    
    width: 346px;
    height: 24px;
    
    flex: none;
    order: 1;
    flex-grow: 0;
}
.checkbox{
    height: 20px;
    
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    
    color: #000000;
    
    
    flex: none;
    flex-grow: 0;  
}
.input-btn-wrapper{
    isplay: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 30px;
    gap: 10px;
    
    width: 319px;
    height: 54px;
    
    background: linear-gradient(92.67deg, #F01928 0.91%, #F97310 104.34%);
    border-radius: 36px;
    
    flex: none;
    order: 2;
    flex-grow: 0;   
}
.btn-text{
    width: 259px;
height: 24px;

font-family: 'Product Sans';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

color: black;

flex: none;
order: 0;
flex-grow: 0;
}

.form-name{
display: flex;
flex-direction: row;
align-items: center;
padding: 15px 30px;
gap: 10px;

width: 611px;
height: 70px;

background: #F2F2F2;
border-radius: 36px;


flex: none;
order: 0;
flex-grow: 0;
}

.name-field{
    width: 129px;
height: 24px;

font-family: 'Product Sans';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

color: #B3B3B3;

flex: none;
order: 0;
flex-grow: 0;
}
.form-mail{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px 30px;
    gap: 10px;
    
    width: 611px;
    height: 70px;
    
    background: #F2F2F2;
    border-radius: 36px;

    
    flex: none;
    order: 1;
    flex-grow: 0;
}

.email-field{
    width: 70px;
    height: 24px;
    
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    
    color: #B3B3B3;
    
    
    flex: none;
    order: 0;
    flex-grow: 0;
}

.form-number{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px 30px;
    gap: 10px;
    
    width: 451px;
    height: 70px;
    
    background: #F2F2F2;
    border-radius: 36px;

    
    flex: none;
    order: 1;
    flex-grow: 1;
}

.number-field{
    width: 131px;
    height: 24px;
    
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    
    color: #B3B3B3;
    
    flex: none;
    order: 0;
    flex-grow: 0;
}

.form-text{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 25px 30px 15px;
    gap: 10px;
    
    width: 611px;
    height: 75px;
    
    background: #F2F2F2;
    border-radius: 36px;
    
    flex: none;
    order: 3;
    flex-grow: 0;
}

.text-field{
    width: 121px;
    height: 24px;
    
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    
    color: #B3B3B3;
    
    
    flex: none;
    order: 0;
    flex-grow: 0;
}