.App-logo {
    flex-direction: column;
    display: flex;
    padding: 10px;
    align-items: flex-start;
    gap: 10px;
    height: 70px;
    width: 80px;
    border-radius: 7px;
    background: linear-gradient(90.9deg, #F01928 0.59%, #FA770F 141.71%);
 
 /* Inside auto layout */
   flex: none;
   order: 0;
   flex-grow: 0;
 }
 .Details{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 35px;
    
    width: 331px;
    height: 42px;
    
    flex: none;
    order: 1;
    flex-grow: 0;

 }

 .logo-wrapper{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
    
    width: 720px;
    height: 80px;
    
  
    
    flex: none;
    order: 0;
    flex-grow: 1;
}

.logo-details-wrapper{
    display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 161px;

width: 1212px;
height: 120px;




flex: none;
order: 0;
align-self: stretch;
flex-grow: 1
}

.container{
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px 150px;

position: absolute;
width: 1250px;
height: 120px;
left: 0px;
top: 0px;

background: lightgrey;
}
.contact-btn{

  display: flex; 
flex-direction: row; 
 justify-content: center; 
align-items: center;
padding: 10px 20px;
gap: 10px;
width: 90px;
height: 30px;

background: linear-gradient(94.98deg, #EF3A2F 1.34%, #FA770D 104.22%);
border-radius: 38px;



flex: none;
order: 2;
flex-grow: 0;
}

.btnclass {
  background-color: lightgray;
}